{% extends 'base.html' %} 
 
{% block content %} 

<div class="container" id="header-section">
    <header class="row">
        <div class="col" id="header-text">
            <h2>Welcome to your Virtual Golf Bag</h2>
        </div>
        <div id="header-text2">
            <p>As your game changes, so should your bag. You've come to the right place!</p>
        </div>
    </header>
</div>

<!-- middle section  --> 

<section class="middle-section">
        <div class="middle-text">
            <p>It's the new "try before you buy"</p>
            <ul>
                <li>- compare clubs and statistics</li>
                <li>- customize to your style and swing</li>
                <li>- save your profile and revisit anytime</li>
            </ul>
        </div>

        <div id="middle-title">
            <h1>Access all types of clubs from putters to drivers</h1>
        </div>
</section>

<!-- features --> 

<div class="container">
    <div class="row">
        <div class="col"><img src="../../static/image/golf-man.jpg" alt="golfing-man" id="golfing-man">
        </div>
        
        <div class="col">
            <h4>Golf clubs that range in stregnth, speed, and angle.</h4>
            As you and your game changes, so should your bag! Upgrade to clubs that fit your swing style. 
        </div>
    </div>
</div>
  
<div class="container">
    <div class="row">
        <div class="col"><img src="../../static/image/golf-woman.jpg" alt="golfing-woman" id="golfing-woman">
        </div>
        
        <div class="col">
            <h4>Golf clubs that range in stregnth, speed, and angle.</h4>
            As you and your game changes, so should your bag! Upgrade to clubs that fit your swing style. 
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col"><img src="../../static/image/golf-junior.jpg" alt="golfing-junior" id="golfing-junior">
        </div>
        
        <div class="col">
            <h4>Golf clubs that range in stregnth, speed, and angle.</h4>
            As you and your game changes, so should your bag! Upgrade to clubs that fit your swing style. 
        </div>
    </div>
</div>


<!-- community section --> 

<section class="row" id="community-section">
    <div class="col" >
        <h4>
            Join a community of golfers just like you! 
        </h4>
        <p>
            Discuss your swing, review the local golf clubs... join the community. 
        </p>
        <div>
            <button class="btm btn-primary">Button</button>
            <button class="btm btn-primary">Join our Reddit</button>
        </div>
    </div>
</section>


<!-- Footer --> 

<footer class="row footer" id="footer">
    <div class="col-2 col-md-2">
        <div class="footer-text-flex" id="footer-links">
            <ul id="footer-horizontal-list">
                <a href="#">
                    <li>Careers</li>
                </a>

                <a href="#">
                    <li>About Us</li>
                </a>
    
                <a href="#">
                    <li>Community</li>
                </a>
    
                <a href="#">
                    <li>Contact Us</li>
                </a>
    
            </ul>
        </div>
    </div>
</footer>

{% endblock content %}